@page "/"
@inject DialogService dialogService

<PageTitle>Home</PageTitle>

<h1 class="invisible">Hello!</h1>

<div class="container-md" style="max-width:800px; margin-inline:auto">
    <RadzenStack Orientation="Orientation.Vertical" Gap="3rem" class="rz-p-12">
        <RadzenText TextStyle="TextStyle.H3" TextAlign="TextAlign.Center">
            Welcome to Classical Api
        </RadzenText>

        <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Justify" Style="font-size:larger; line-height: 1.7em;">
            This is a small tutorial app, developed for learning
            the best practices of Blazor interacting with api service and
            with third-party authentication providers.
        </RadzenText>

        <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Justify" Style="font-size:larger; line-height: 1.7em;">
            After <a href="\login">logging in</a> with personal or Google account you will
            get access to small database with classical composers. If you were lucky to get
            admin access, you may also contribute to this database by adding some info.
        </RadzenText>

        <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Justify" Style="font-size:larger; line-height: 1.7em;">
            Don't hesitate to contact with app developer by <a href="mailto:alextykoun@gmail.com">mail</a>
            and have a nice day ))
        </RadzenText>
    </RadzenStack>
    <div class="d-flex justify-content-center my-3">
    </div>
    <div>
        <div class="my-3">
        </div>
        <div class="my-3">
        </div>

        <div class="my-3">
        </div>
    </div>


</div>

@code{
}