<RadzenSidebar Responsive="false" @bind-Expanded="@IsExpanded" style="position: absolute; z-index: 3">
    <RadzenStack AlignItems="AlignItems.End" Class="rz-p-2">
        <RadzenButton Icon="west" Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary" Click="@(async () => await OnExpandedChanged(false))" />
    </RadzenStack>
    <RadzenPanelMenu>
        @ChildContent
    </RadzenPanelMenu>
</RadzenSidebar>

@if (IsExpanded)
{
    <div @onclick="@(async () => await OnExpandedChanged(false))" class="rz-dialog-mask" style="position: absolute; z-index: 2"></div>
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool IsExpanded { get; set; } = false;

    [Parameter]
    public EventCallback<bool> IsExpandedChanged { get; set; }

    private async Task OnExpandedChanged(bool value)
    {
        IsExpanded = value;
        await IsExpandedChanged.InvokeAsync(value);
    }
}
