@using ClassicalApi.Web.Client;
@inject DialogService dialogService

<div class="rz-text-align-center">
    <RadzenButton ButtonStyle="ButtonStyle.Success" Style="height:100%"
        Click=@(async () => await ShowComposerCard())>
        <RadzenText TextStyle="TextStyle.H5" Style="color:aliceblue; margin-bottom:0;" ><i class="bi bi-plus"></i>Add New</RadzenText>
    </RadzenButton> 
</div>

@code {
    public async Task ShowComposerCard()
    {
        var title = "Add new Composer";
        var viewed = await dialogService.OpenAsync<ComposerCard>(title,
               new Dictionary<string, object>() { { "ComposerId", 0 }, { "IsReadOnly", false } },
               new DialogOptions() { Width = "640px", Height = "720px", Resizable = true, Draggable = true, CloseDialogOnEsc = true });
    }
}