<RadzenHeader Style="background-color:royalblue">
    <RadzenStack Orientation="Orientation.Horizontal" Gap="0" Style="padding-right:1em;" JustifyContent="JustifyContent.SpaceBetween">
        <div class="d-flex">
            <RadzenButton Variant="Variant.Text" Click="@(() => sidebarExpanded = !sidebarExpanded)">
                <img src="/src/ClassicalApiLogo.svg" height="40" />
            </RadzenButton>
            <RadzenText class="mb-0" Style="color:aliceblue; font-size:larger; align-self:center;" Text="Classical Api" />
        </div>
        <div class="my-auto">
            <AuthorizeView>
                <Authorized>
                    @* @context.User.Claims.Count() *@
                </Authorized>
                <NotAuthorized>
                    <LoginButton />
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </RadzenStack>
</RadzenHeader>
<AppSideBar @bind-IsExpanded="sidebarExpanded">
    <RadzenPanelMenuItem class="my-2" Style="font-size:larger;" Text="Home" Icon="home" Path="/" Click="Collapse" />
    <RadzenPanelMenuItem class="my-2" Style="font-size:larger;" Text="Composers" Icon="queue_music" Path="/composers" Click="Collapse" />
    <RadzenPanelMenuItem class="my-2" Style="font-size:larger;" Text="User" Icon="account_box" Path="/user" Click="Collapse" />
</AppSideBar>

@code {
    bool sidebarExpanded = false;

    private void Collapse() => sidebarExpanded = false;

    bool loginBoxExpanded = false;

}
