@page "/user"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject AuthenticationStateProvider authState

<PageTitle>UserInfo</PageTitle>

@if (_isAuthenticated)
{
    <p>Welcome @authenticationState.User.Claims.FirstOrDefault(cl => cl.Type == ClaimTypes.Email)</p>
}



@code {
    private bool _isAuthenticated => authenticationState?.User?.Identity != null && authenticationState.User.Identity.IsAuthenticated;

    private AuthenticationState authenticationState = default!;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await authState.GetAuthenticationStateAsync();
    }

}
