<footer class="bg-primary text-center" style=" min-height:40px;">
    <div class="d-inline-flex m-2 align-content-center">
        <p class="mb-0 mx-5" style="color:azure">© 2024</p>
        <a href="mailto:alextykoun@gmail.com" class="text-decoration-none">
            <RadzenIcon Icon="mail" IconColor="white" class="mb-0 mx-5" />
        </a>
        <a href="/privacy-policy" class="text-decoration-none mb-0 mx-5" style="color:azure">
            Privacy policy
        </a>
        <a href="/terms" class="text-decoration-none mb-0 mx-5" style="color:azure">
            Terms
        </a>
    </div>
</footer>