<footer class="bg-light text-center text-lg-start">
    <div class="d-inline-flex col-md-4 mx-3 align-content-center">
        <p class="mb-0" style="color:azure">© 2024</p>
        <a href="mailto:alextykoun@gmail.com" class="col-md-4 d-flex align-items-center justify-content-center me-md-auto link-dark text-decoration-none" style="color:var(--rz-header-background-color)">
            <RadzenIcon Icon="mail" IconColor="white" class="mb-0 mx-3" />
        </a>
    </div>
    <ul class="nav col-md-4 mx-3 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2" style="color:azure">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2" style="color:azure">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2" style="color:azure">About</a></li>
    </ul>
</footer>