<nav class="navbar bg-primary navbar-expand-md" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/src/svg(1).svg" height="40"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div class="nav-item px-3">
                    <NavLink ActiveClass="active" class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="bi bi-house"></i> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                   <NavLink ActiveClass="active" class="nav-link" href="/composers">
                        <i class="bi bi-music-note-list"></i> Composers
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                   <NavLink ActiveClass="active" class="nav-link" href="/login">
                        <i class="bi bi-person-circle"></i> Login
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}