@inject NavigationManager navigationManager

@rendermode @(new InteractiveServerRenderMode(false))

<button class="btn btn-success" type="submit" @onclick="ToLogin">
    Log In
</button>

@code {
    private void ToLogin()
    {
        Console.WriteLine("LoginAttempt");
        Console.WriteLine("Uri: " + navigationManager.Uri);
        Console.WriteLine("Base: " + navigationManager.BaseUri);
        Console.WriteLine("Relative: " + navigationManager.ToBaseRelativePath(navigationManager.Uri));
        navigationManager.NavigateTo($"Account/Login?returnUrl={Uri.EscapeDataString(navigationManager.ToBaseRelativePath(navigationManager.Uri))}", forceLoad: true);
    }
}