@inject NavigationManager navigationManager

@rendermode @(new InteractiveServerRenderMode(false))

<button class="btn btn-success" type="submit" @onclick="ToLogin">
    Log In
</button>

@code {
    private void ToLogin()
    {
        var returnUrl = Uri.EscapeDataString(navigationManager.ToBaseRelativePath(navigationManager.Uri));
        if(string.IsNullOrWhiteSpace(returnUrl) || returnUrl == "/")
        {
            returnUrl = "/composers";
        }
        navigationManager.NavigateTo($"Account/Login?returnUrl={returnUrl}", forceLoad: true);
    }
}