@inject NavigationManager navigationManager

@rendermode @(new InteractiveServerRenderMode(false))

<button class="btn btn-success" type="submit" @onclick="ToLogin">
    Log In
</button>

@code {
    private void ToLogin()
    {
        Console.WriteLine("LoginAttempt");
        navigationManager.NavigateTo($"Account/Login?returnUrl={Uri.EscapeDataString(navigationManager.Uri)}", forceLoad: true);
    }
}