@page "/composers"

@inject IComposerService composerService
@inject NavigationManager navManager
@rendermode @(new InteractiveAutoRenderMode(prerender: false))



<PageTitle>Composers</PageTitle>

<div class="container m-3">
    <RadzenRow JustifyContent="JustifyContent.Start" class="mb-4">
        <h1 style="margin:0 2rem 0 1rem;">Composers</h1>
        @if (IsAdminUser)
        {
            <ComposerAddButton />
        }
    </RadzenRow>

    <div style="width:fit-content">
        <QuickGrid Items="ComposerList.AsQueryable()" Pagination="pagination">
            <PropertyColumn Class="qgrid-col-index" Property="c => c.Id" Title="#" Sortable="true" />
            <PropertyColumn Class="qgrid-col-first" Property="c => c.FirstName" Title="First Name" />
            <PropertyColumn Class="qgrid-col-last" Property="c => c.LastName" Title="Last Name" Sortable="true" />
            <PropertyColumn Class="qgrid-col-birth" Property="c => c.YearOfBirth" Title="Birth" Sortable="true" />
            <PropertyColumn Class="qgrid-col-death" Property="c => c.YearOfDeath" Title="Death" Sortable="true" />
            <TemplateColumn>
                <ComposerViewButton ComposerId="context.Id" IsEditable="IsAdminUser" />
            </TemplateColumn>
            <TemplateColumn>
                <RadzenButton ButtonStyle="ButtonStyle.Success" Click="@(() => RedirectToMedia(context.Id))">&#9835;</RadzenButton>
            </TemplateColumn>
        </QuickGrid>
        <Paginator State="pagination"></Paginator>
    </div>

</div>

@code{
    private bool IsAdminUser;

    private bool IsAuthenticated;

    [SupplyParameterFromQuery(Name = "search")]
    public string Search { get; set; } = "";

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    public ComposerModel[] ComposerList { get; set; } = [];

    private PaginationState pagination = new() { ItemsPerPage = 10 };

    void RedirectToMedia(int id) => navManager.NavigateTo($"/medialinks/{id}");

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Search))
        {
            ComposerList = (await composerService.GetComposers()).ToArray();
        }
        else
        {
            ComposerList = (await composerService.Search(Search)).ToArray();
        }


        var state = await authenticationState!;

        IsAdminUser = state != null && (state.User.IsInRole("Administrator") || state.User.IsInRole("SuperAdmin"));
        IsAuthenticated = state != null && (state.User.Identity?.IsAuthenticated ?? false);
    }
}
